<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mualliflar</title>
</head>
<body>
<br>
<h1>Kutubxonadagi barcha mualliflar ro'yxati</h1>
<br>
<a href="/home/">
    <button>Ortga</button>
</a>
<br>
<hr>
<br>
<form method="get">
    <input type="text" placeholder="qidirish" name="search">
    <button>Qidirish</button>
</form>

<ol>
    {% for author in authors %}
    <h2>
        <li>{{author.name}} ({{author.date_of_birth}}, {{author.alive}})</li>
    </h2>
    <a href="/delete_author/{{author.id}}/">
        <button>O'chirish</button>
    </a>
    <a href="/update_author/{{author.id}}/"><button>Tahrirlash</button></a>
    {% endfor %}
</ol>
<hr>
<h3>Kutubxonadagi mualliflar jadvaliga ma'lumot qo'shish</h3>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button>Qo'shish</button>
</form>
</body>
</html>


<!--    <label for="name">Ismi: </label>-->
<!--    <input type="text" name="name" id="name"><br>-->

<!--    <label for="gender">Jinsi: </label>-->
<!--    <select name="gender" id="gender">-->
<!--        <option value="Male">Male</option>-->
<!--        <option value="Female">Female</option>-->
<!--    </select>-->
<!--    <br>-->
<!--    <label for="date_of_birth">Tug'ilgan sanasi: </label>-->
<!--    <input type="date" id="date_of_birth" name="date_of_birth"><br>-->

<!--    <label for="number_of_book">Kitoblari soni: </label>-->
<!--    <input type="number" id="number_of_book" name="number_of_book"><br>-->

<!--    <label for="alive">Tirikmi: </label>-->
<!--    <input type="checkbox" id="alive" name="alive"><br>-->