<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Foydalanuvchi: {{user}}</h1>
<a href="/logout/"><h2>Logout</h2></a>
<hr>
<h2>Kutubxona boshqaruv tizimiga xush kelibsiz! </h2>
<hr>
<h2><p><a href="/students/">Talabalar</a></p></h2>
<h2><p><a href="/authors/">Mualliflar</a></p></h2>
<h2><p><a href="/books/">Kitoblar</a></p></h2>
<h2><p><a href="/records/">Recordlar</a></p></h2>
<h2><p><a href="/librarians/">Kutubxonachilar</a></p></h2>

</body>
</html>