<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Talabalar</title>
</head>
<body>
<br>
<h1>Kutubxonadagi barcha talabalar ro'yxati</h1>
<br>
<a href="/home/">
    <button>Ortga</button>
</a>
<br>
<hr>
<br>
<form method="get">
    <input type="text" placeholder="qidirish" name="search">
    <button>Qidirish</button>
</form>

<ol>
    {% for student in students %}
    <h2>
        <li>{{student.name}} ({{student.course}}-kurs)</li>
    </h2>
    <a href="/delete_student/{{student.id}}/">
        <button>O'chirish</button>
    </a>
    <a href="/update_student/{{student.id}}/">
        <button>Tahrirlash</button>
    </a>
    {% endfor %}
</ol>

<hr>
<h3>Kutubxonadagi talabalar jadvaliga ma'lumot qo'shish</h3>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button>Qo'shish</button>
</form>

</body>
</html>


<!--    <label for="name">Ismi: </label>-->
<!--    <input type="text" name="name" id="name"><br>-->

<!--    <label for="course">Kursi: </label>-->
<!--    <input type="number" id="course" name="course"><br>-->

<!--    <label for="number_of_book">Kitoblari soni: </label>-->
<!--    <input type="number" id="number_of_book" name="number_of_book"><br>-->