<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tahrirlash</title>
</head>
<body>
<br>
<hr>
<h3>Kutubxonadagi recordlar jadvalidagi ma'lumotni tahrirlash</h3>
<form method="post">
    {% csrf_token %}
    <label for="student">Ismi: </label>
    <select name="student" id="student" >
        {% for student in students %}
        <option value="{{student.id}}">{{student.name}}</option>
        {% endfor %}
    </select><br>

    <label for="book">Kitob: </label>
    <select name="book" id="book">
        {% for book in books %}
        <option value="{{book.id}}">{{book.name}}</option>
        {% endfor %}
    </select><br>

    <label for="librarian">Kutubxonachi: </label>
    <select name="librarian" id="librarian" >
        {% for librarian in librarians %}
        <option value="{{librarian.id}}">{{librarian.name}}</option>
        {% endfor %}
    </select><br>

    <label for="date_of_recieved">Olingan sana: </label>
    <input type="text" id="date_of_recieved" name="date_of_recieved" value="{{record.date_of_recieved}}"><br>

    <label for="isreturned">Qaytarganmi? </label>
    <input type="checkbox" id="isreturned" name="isreturned" value="{{record.isreturned}}"><br>

    <label for="date_of_returned">Qaytarish sanasi: </label>
    <input type="text" id="date_of_returned" name="date_of_returned" value="{{record.date_of_returned}}"><br>

    <button>Saqlash</button>
</form>

</body>
</html>